html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F5F5F5;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: 200;
}
/* The sidebar menu */
.sidenav{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 0em;
    background-color: white;
    padding: 2em 2em;
    width: 20em;
    color: #404040;
}

/* The navigation menu links */
.sidenav:hover{
    box-shadow: 0 6px 18px 0 rgba(0,0,0,0.2);

}

/* Style page content */
.main{
    margin-left: 20em; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    margin: 2em 2em 2em 6em;
}

.card{
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-top:  #ccc 1px;
    background-color: white;
}

.card:hover{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 10px 15px 0 rgba(0, 0, 0, 0.2);
}

.bg-img {
    background-size: contain;
    width:95%;
    background-repeat:no-repeat;
    height: 15em;
    background-position: center;
    background-color: white;
}

.content {
    border-top: #eee solid 1px;
    padding: 20px;
}

button {
    background-color: #2979FF;
    border: none;
    padding: .6rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
    color: white;
}

button:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    background-color: #d32f2f;
}

a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;

    background-color: #2979FF;
    border: none;
    padding: .5rem 1.2em;
    cursor: pointer;
    border-radius: .25rem;
    color: white;
    font-size: 0.7em;
}

a.button:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    background-color: #d32f2f;
}

/* containers for laying panels out */
.container-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
}

/* text inside containers */
h1{
    font-weight: 500;
    border-bottom: .1rem solid #eee;
    padding-bottom: .1em;
    text-align: center;
    color: #404040;
}

h4{
    font-weight: 300;
    font-size: 24px;
    line-height:.1em;
    color: #2979FF;
}
