body {
  margin: 0;
}

.main_wrapper{
  width:80%;
  margin:auto;
  font-family: sans-serif;
}

.text_box{
  font-size: 20px;
  text-align:center;
}

h1{
  font-size:30px;
}



.svg-container {
  display: inline-block;
  position: relative;
  width: auto;
  vertical-align: top;
  overflow: hidden;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.svg-content {
  display: inline-block;
  position: relative;
}

#pulseplot{
  width:60%;
}

#cfdstage3{
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff; /* afb5c6 */
  padding: 7px;
  color: #222734;
  border-radius: 4px;
  border: 1px solid #afb5c6;
  margin-left: 5%;
}

#cfdstage2{
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff; /* afb5c6 */
  padding: 7px;
  color: #222734;
  border-radius: 4px;
  border: 1px solid #afb5c6;
  margin-left: 5%;
}

#cfdstage1{
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff; /* afb5c6 */
  padding: 7px;
  color: #222734;
  border-radius: 4px;
  border: 1px solid #afb5c6;
  margin-left: 5%;
}

#cfdinfo{
  border-radius: 4px;
  margin: auto;
  width: 50%;
  padding: 9px;
  text-align: center;
  border: 1px solid white;
  margin-bottom: 50px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 160%;
}

#resetbutton{
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff; /* afb5c6 */
  padding: 7px;
  color: #222734;
  border-radius: 4px;
  border: 1px solid #afb5c6;
}

.custom_select {
  position: relative;
  text-align: center;
  margin: auto;
  width: 80%;
}

#cfdstage1:hover{
  background-color: steelblue;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

#cfdstage2:hover{
  background-color: steelblue;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

#cfdstage3:hover{
  background-color: steelblue;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

#resetbutton:hover{
  background-color: steelblue;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18);
}

p {
  font-weight: 100;
  line-height: 160%;
}

@media (max-width: 650px){
  .text_box{
    font-size: 11px;
  }

  h1{
    font-size:20px;
  }

  .custom_select{
    width:100%;
  }

  #resetbutton{
    font-size: 10px;
  }

  #cfdstage1{
    font-size: 10px;
    margin-left: 5px;
  }

  #cfdstage2{
    font-size: 10px;
    margin-left: 5px;
  }

  #cfdstage3{
    font-size: 10px;
    margin-left: 5px;
  }

  #pulseplot{
    width:80%;
  }

  #resetbutton{
    font-size: 10px;
    padding: 2px;
  }

  #cfdstage1{
    font-size: 10px;
    padding: 2px;
    margin-left: 2%;
  }


  #cfdstage2{
    font-size: 10px;
    padding: 2px;
    margin-left: 2%;
  }

  #cfdstage3{
    font-size: 10px;
    padding: 2px;
    margin-left: 2%;
  }
}
